{% extends 'base.html' %}

{% block content %}
<div class="container p-5 ">
  <h2 style="font-family: 'Source Sans Pro', sans-serif;">Upload your Doodle</h2>
  <form class="custom-file" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input class="custom-file-input" type="file" name="document" id="custom-file">
    <label class="custom-file-label" for="customFile">Choose file</label>
    <button class="btn btn-dark mt-3 px-4" type="submit">Upload file</button>
  </form>
  {% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
  {% endif %}
</div>
  
{% endblock %}